.container{
    height: 1500px;
    width: 60%;
    margin: 0 auto;
}
#header-formatting{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 230px;
    background-position: top right;
    background-color: #4EA0FF;
}
#logo-formatting{
    width: 20%;
    display: inline-block;
    margin-top: 18px;
}
#title-formatting{
    margin-top: 10px;
    margin-bottom:0 ;
}
#author-text-formatting{
    margin-top: 0;
    color: grey;
}
.link-formatting{
    text-decoration: none;
    color: #35B0EA;
}